<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Combifrequencia</title>
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho-container-logo">
            <h1 class="cabecalho-logo">Combifrequência</h1>  
        </div>
        <nav class="cabecalho-container-opcoes">
            <a href="/serviços">Serviços</a>
            <a href="/recrutamento">Rrecutamento</a>
            <a href="/contato">Contato</a>
            <button href="/orçamento"><span>Pedir orçamento</span></button>
        </nav>
       
    </header>
    <main>
         <div class="content">
             <div class="main-content-img-txt">
                <h2 class="main-content-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit.x</h2>
                <img src="static/image/foto.400x290.png" alt="foto eletricista">
             </div>
             <div class="main-content-img-txt2">
                <h2 class="main-content-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit.x</h2>
                <img src="static/image/foto2.400x290.png" alt="foto eletricista">
             </div>
             <div class="main-content-img-txt3">
                <h2 class="main-content-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit.x</h2>
                <img src="static/image/foto3.400x290px.png" alt="foto eletricista">
             </div>
        </div>
         <button class="main-button" href="/orçamento"><span>Pedir Orçamento!</span></button>
    </main>
    <footer>

    </footer>
</body>
</html>